.name-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

.name-grid-entry {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.2);
  padding: 12px;
}

.name-grid-name {
  font-weight: bold;
}

html,
body {
  background-color: rgb(248, 248, 248);
}

/* Done */
